@model IEnumerable<FinalProject.Models.ConcertModel>

<form asp-controller="Home" asp-action="ConcertModel">
    <label for="City">Enter your city: </label>
    <input type="text" City="City" name="City" />
    <button type="submit" class="btn btn">Search</button>
</form>
