@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    p {
        text-align: center;
    }
     h1 {
        text-align: center;
    }

</style>
<h1>@ViewData["Title"]</h1>

<p>This program is intended for educational purposes only.</p>
