@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<style>
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    h5{
        text-align: center;
    }
    h6 {
        text-align: center;
    }
   div {
       justify-content;
   }
   form {
       justify-content;
   }
</style>

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
